<template name="roomList">
	<div>
		
		<p style="color: #4e5446; font-family: Perpetua, fantasy; font-size: 45px;"> Welcome To RoomList </p> 
		
	</div>

	<input type="text" name="search" class="form-control" placeholder="Press Enter to Search..."><br>

	<br>
<!-- 	{{#if searching}}
        {{> loading}}
    {{else}}
        {{#each rooms}}
            <li class="room {{selectrm}}">
             <span class="pull-left"><strong>{{name}}</strong>: {{intro}}, created by: {{createdByname}}</span>
             <span class="pull-right">{{createdAt}}</span>
            </li>
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}. Sorry.</p>
      {{/each}}
    {{/if}} -->
	<ul class="list-group">
		{{#if searching}}
		    {{>loading}}
		{{else}}
            {{#each rooms}}
            <div class="list-group">
                <a href="#" class="list-group-item" id="rooms">
                <h4 class="list-group-item-heading">{{name}}</h4>
                <p class="list-group-item-text" style="color: #abb1a3; font-family: Perpetua, fantasy; font-size: 15px;">{{intro}}<br> created by: {{createdByname}} , created at: {{createdAt}}</p>
                </a>
            </div>
            {{else}}
                <p class="alert alert-warning">Nothing found for {{query}}. </p>
            {{/each}}
        {{/if}}
    </ul>
    <div>
    	<button type="button" class="btn btn-success" id="join"> Join </button>
    </div>

</template>	
