<template name="sidebar">

	<aside class="sidebar">
		<h5>Channels</h5>
		<ul>
			{{#each channel in channels}}
			<li class="{{currentChannel channel.name}}">
				<a href={{dirChannel channel.name}}>
					#{{channel.name}}
				</a>
			</li>
			{{/each}}
		</ul>
		{{#if isGM}}
		<div>
			<p style="color: #4e5446; font-family: Perpetua, fantasy; font-size: 18px;">Click to view/change PC stats:</p>
			<ul>
				{{#each participant in participants}}
				<li>
					<a href="{{getIds participant}}">
						{{displayCard participant}}
					</a>
					<button class = "remove" id = {{participant.name}} style="float: right; background-color: Transparent; border: none; position: relative;top:-25px"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color: white"></span></button>
				</li>
				{{/each}}
			</ul>
		</div>
		{{else}}
		<div>
			{{#if hasCard}}
			<p style="color: #105c8c; font-family: Perpetua, fantasy; font-size: 25px;">{{characterName}}</p>
			<ul>
				<li><a>Strength: {{getStr}}</a></li>
				<li><a>Dexterity: {{getDex}}</a></li>
				<li><a>Constitution: {{getCons}}</a></li>
				<li><a>Intelligence: {{getInt}}</a></li>
				<li><a>Wisdom: {{getWis}}</a></li>
				<li><a>Charisma: {{getCha}}</a></li>
			</ul>
			{{/if}}
		</div>
		{{/if}}
	</aside>
</template>
