<template name="dashboard">
	<div>
		<div style="padding:0;margin:0;float:left">
			<h1> Welcome To How I Roll</h1> 
		</div>    
		<div style="padding:500;margin:100;position:absolute; left:700px; top:85px">
			<a href = "/createRoom">
				<button class = "button Create">
					<span>
						Create Your Own Room
					</span>
				</button>
			</a>
			<a href = "/roomList">
				<button class = "button Join">
					<span>
						Join Existing Rooms
					</span>
				</button>
			</a>
		</div>
	</div>
	<div style="border:1px solid grey;position:absolute; left:80px; right: 80px; top:175px">
	</div>
	<div class = "joinedGames">
		<div>
			<h1> joined games: to be implemented </h1>
		</div>
	</div>
</template>
